<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home | Oofiee - Extension to surf internet in offline mode</title>
	{% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css" />
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  </head>

  <body>

  	<!-- N A V B A R -->
  	<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="icon ion-md-menu"></span>
    	</button>
    	<img src="{% static 'home/images/logo.jpg' %}" class="img-fluid nav-logo-mobile" alt="Company Logo">
    	<div class="collapse navbar-collapse" id="navbarNavDropdown">
      		<div class="container">
      			<img src="{% static 'home/images/logo.jpg' %}" class="img-fluid nav-logo-desktop" alt="Company Logo">
				<ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
					<li class="nav-item nav-custom-link">
						<a class="nav-link" href="{% url 'home:index' %}">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
					</li>
					<li class="nav-item nav-custom-link">
						<a class="nav-link" href="#marketing">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
					</li>
					<li class="nav-item nav-custom-link">
						<a class="nav-link" href="#testimonials">About <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
					</li>
					<li class="nav-item nav-custom-link btn btn-demo-small">
						<a class="nav-link" href="#">Get Extension <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
					</li>
				</ul>
      		</div>
    	</div>
  	</nav>
  	<!-- E N D  N A V B A R -->
  
  	<!-- H E R O  -->
  	<section id="hero">
    	<div class="container">
      		<div class="row">
        		<div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
          			<img src="{% static 'home/images/iphone.png' %}" class="img-fluid" alt="Demo image">
        		</div>
        		<div class="col-md-5 content-box hero-content">
          			<span>Offline Web </span>
          			<h1>The Browser Expansion <b>For Offline Web Browsing</b></h1>
          			<p>Oofiee allows users to revisit thier visited pages with almost no internet connection</p>
          			<a href="#" class="btn btn-regular">Get Extension</a>
        		</div>
      		</div>
    	</div>
  	</section>
	<!-- E N D  H E R O -->
	

  	<!-- E N D  M A R K E T I N G : 1 -->
  	<section id="marketing">
    	<div class="container">
      		<div class="row">
        		<div class="col-md-5">
          			<div class="content-box">
            			<span>All visited sites are saved</span>
            			<h2>Everything Offline</h2>
            			<p>All visited sites will be saved making the user able to visit them later with no internet connection.</p>
            			<a href="#" class="btn btn-regular">Get Extension</a>
          			</div>
        		</div>
        		<div class="col-md-7">
            		<img src="{% static 'home/images/demo-image-1.png' %}" class="img-fluid" alt="Demo image">
        		</div>
      		</div>
    	</div>
  	</section>
	<!-- E N D  M A R K E T I N G -->
	<!-- E N D  M A R K E T I N G : 2 -->
	<section id="marketing">
    	<div class="container">
      		<div class="row">
        		<div class="col-md-7">
            		<img src="{% static 'home/images/demo-image-2.png' %}" class="img-fluid" alt="Demo image">
				</div>
				<div class="col-md-5">
					<div class="content-box">
					  <span>BEST SEARCH SYSTEM</span>
					  <h2>Good Search System</h2>
					  <p>The good search funcionality of this extension has made it more cool to browse web without internet.</p>
					  <a href="#" class="btn btn-regular">Get Extension</a>
					</div>
			  </div>
      		</div>
    	</div>
  	</section>
	<!-- E N D  M A R K E T I N G -->
	<!-- E N D  M A R K E T I N G : 3 -->
	<section id="marketing">
    	<div class="container">
      		<div class="row">
				<div class="col-md-5">
					<div class="content-box">
					  <span>OFFLINE GOOGLE</span>
					  <h2>Google Without Internet</h2>
					  <p>It gives You chance to use google search for searching through visited sites.</p>
					  <a href="#" class="btn btn-regular">Get Extension</a>
					</div>
			  	</div>
			  	<div class="col-md-7">
					<img src="{% static 'home/images/demo-image-3.png' %}" class="img-fluid" alt="Demo image">
				</div>
      		</div>
    	</div>
  	</section>
  	<!-- E N D  M A R K E T I N G -->  

  	<!-- T E S T I M O N I A L S -->
  	<section id="testimonials">
    		<div class="container">
				<div class="title-block">
					<h2>Our Little Team</h2>
					<p>
						Techlio team is based in Sri Lanka. Our main goal is to put the customer first before everything. We want to make the world a better place by making new tech tools
						Contact Us for anything regarding our tools. Our contact number is +94 773 1635 64. Our Techlio is wiling to do whatever it takes to make the customer or the user happy. 
					</p>
				</div>
    	</div>
  	</section>
  	<!-- E N D  T E S T I M O N I A L S -->

  	<!-- C A L L  T O  A C T I O N -->
  	<section id="call-to-action">
    	<div class="container text-center">
      		<h2>Browse Internet Offline Now!</h2>
			<div class="title-block">
				<p>Get Oofiee extension and increase Your productivity. Access to every visited site without even having a internet connection isn't that cool? You probably will need this little browser extension So check it out.</p>
				<a href="#" class="btn btn-regular">Install Extension</a>
			</div>
    	</div>
  	</section>
  	<!-- E N D  C A L L  T O  A C T I O N -->

  	<!--  F O O T E R  -->
  	<footer>
    	<div class="container">
      		<div class="row">
        		<div class="col-md-6">
          			<h5>Links</h5>
          			<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Features</a></li>
						<li><a href="#">About</a></li>
          			</ul>
        		</div>
        		<div class="col-md-3">
          			<h5>Techlio</h5>
          			<p>We are a dedicated team working to improve the peoples lives productivity. We put customer first before anything. Our team is based on Sri Lanka.</p>
          			<p><a href="mailto:techlioteam@gmail.com" class="external-links">techlioteam@gmail.com</a></p>
        		</div>
      		</div> 
      		<div class="divider"></div>
      			<div class="row">
        			<div class="col-md-6 col-xs-12">
            			<a href="https://www.facebook.com/Techlio-103128077859429/"><i class="icon ion-logo-facebook"></i></a>
            			<a href="https://www.instagram.com/techlio_team/"><i class="icon ion-logo-instagram"></i></a>
            			<a href="https://twitter.com/TechlioT"><i class="icon ion-logo-twitter"></i></a>
          			</div>
          			<div class="col-md-6 col-xs-12">
            			<small>2019 &copy; All rights reserved. Product of Techlio Team Sri Lanka.</small>
          			</div>
      			</div>
    		</div>
  	</footer>
  	<!--  E N D  F O O T E R  -->

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  	</body>
</html>